[Unit]
Description=Run Telegram client updater daily
Requires=tg-update.service

[Timer]
OnCalendar=*-*-* 04:00:00 UTC
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
